<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whsxt.mapper.ProdCommMapper">
  <resultMap id="BaseResultMap" type="com.whsxt.domain.ProdComm">
    <!--@mbg.generated-->
    <!--@Table prod_comm-->
    <id column="prod_comm_id" jdbcType="BIGINT" property="prodCommId" />
    <result column="prod_id" jdbcType="BIGINT" property="prodId" />
    <result column="order_item_id" jdbcType="BIGINT" property="orderItemId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="rec_time" jdbcType="TIMESTAMP" property="recTime" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="reply_sts" jdbcType="INTEGER" property="replySts" />
    <result column="postip" jdbcType="VARCHAR" property="postip" />
    <result column="score" jdbcType="TINYINT" property="score" />
    <result column="useful_counts" jdbcType="INTEGER" property="usefulCounts" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="is_anonymous" jdbcType="INTEGER" property="isAnonymous" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="evaluate" jdbcType="TINYINT" property="evaluate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    prod_comm_id, prod_id, order_item_id, user_id, content, reply_content, rec_time, 
    reply_time, reply_sts, postip, score, useful_counts, pics, is_anonymous, `status`, 
    evaluate
  </sql>
</mapper>