<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whsxt.mapper.BasketMapper">
  <resultMap id="BaseResultMap" type="com.whsxt.domain.Basket">
    <!--@mbg.generated-->
    <!--@Table basket-->
    <id column="basket_id" jdbcType="BIGINT" property="basketId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="prod_id" jdbcType="BIGINT" property="prodId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="basket_count" jdbcType="INTEGER" property="basketCount" />
    <result column="basket_date" jdbcType="TIMESTAMP" property="basketDate" />
    <result column="discount_id" jdbcType="BIGINT" property="discountId" />
    <result column="distribution_card_no" jdbcType="VARCHAR" property="distributionCardNo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    basket_id, shop_id, prod_id, sku_id, user_id, basket_count, basket_date, discount_id, 
    distribution_card_no
  </sql>
</mapper>